@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
// Viewports
$mobile: 375px;
$tablet: 768px;

//Colors
$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$white: #f2f2f2e0;

// Font
$default-font-size: 15px;
$lexend: "Lexend Deca";
$BSD: "Big SHoulders Display";
